html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #BCB8B1;
    text-align: center;
}

.logo , .ontop, .meal-info{
    display: flex;
    justify-content: center;
}

h1 {
    color: #E0AFA0;
    text-shadow: 0px 0px 5px #463F3A;
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    margin-top: 1.5rem ;
    margin-bottom: 0.5rem;
}

h3 {
    margin-top: 0;
    color: #F4F3EE;
    font-size: 2.5rem;
    text-shadow: 0px 0px 5px black;
}

h4 {
    color: #E0AFA0;
    font-size: 1.5rem;
    padding-left:15px;
    margin-bottom: 0.5rem;
}

h5 {
    color: #463F3A;
    margin : auto 0;
    font-size: 1.2rem
}

.birdy {
    width: 100px;
    height: 100px;
    margin-top: 2.5rem ;
    border-radius: 50%;
}

.container{
    border: 0.35rem solid #8A817C;
    width: 750px;
    margin: 20px auto 1.5rem auto;
    border-radius: 10px;
    background-color: #F4F3EE;
}

.ontop{
    width: 50%;
    height: auto;
    margin: 20px auto 10px auto ;
    background-color: #F4F3EE;
    border: 0.25rem solid #E0AFA0;
    border-radius: 10px;
    cursor: pointer;
    justify-content: start;
}

.meal-type{
    color: #8A817C;
    text-shadow: 0px 0px 0px black;
}

.top-bar{
    position: relative;
    display: flex;
}

.thumbnail{
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 0.25rem solid #8A817C;
    border-radius: 10px;
}

.thumbnail-name{
    color: #463F3A;
}

.thumbnail-name:hover{
    color: #E0AFA0;
}

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 0.25rem solid #8A817C;
    border-radius: 10px;
}

.meal-info{
    border-bottom: 0.25rem solid #8A817C;
}

.header {
    position: absolute;
    top: 50%;
    width: 80%;
    margin-left: 70px;
}

.go-back{
    position: absolute;
    top: 10px;
    margin-left: 650px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
    color:#8A817C;
    font-weight: bold;
    background-color: #E0AFA0
}

.ingredients {
    border-right: 0.25rem solid #8A817C;
    padding-left: 1rem;
    padding-right: 1rem;
}

ul {
    width: 200px;
}

ul, ol {
    color: #8A817C;
}

.ingredient, .instruction, .notes {
    margin-bottom: 1.5rem;
    text-align: start;
}

.instructions{
    padding-left: 10px;
    padding-right: 10px;
}

.notes {
    list-style-type: circle;
    width: 90%;
    margin-left: 1.5rem;
    margin-top: 0;
}

.note-name {
    margin-top: 0.5rem;
    text-decoration: underline;
}

.hidden{
    display: none;
}

.vege{
    width: 100%;
    color: #463F3A;
}

.handy-box-left, .handy-box-right{
    display: block;
    background-color: #F4F3EE;
    position: fixed;
    padding: 15px;
    border: 2px solid #E0AFA0;
    border-radius: 5px;
    cursor: pointer;
}

.handy-box-left:hover, .handy-box-right:hover{
    background-color: #E0AFA0;
    border: 2px solid #F4F3EE;
    border-radius: 5px;
}


.handy-box-right{
    margin-left: 1035px;
}

.handy-box-left{
    margin-left: 30px;
}