*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #BCB8B1;
    text-align: center;
}

.logo , .ontop{
    display: flex;
    justify-content: center;
}

h1 {
    color: #E0AFA0;
    text-shadow: 0px 0px 5px #463F3A;
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    margin-top: 1.5rem ;
    margin-bottom: 0.5rem;
}

h3 {
    margin-top: 0;
    color: #F4F3EE;
    font-size: 2.5rem;
    text-shadow: 0px 0px 5px black;
}

h4 {
    color: #E0AFA0;
    font-size: 1.5rem;
    padding-left:15px;
    margin-bottom: 0.5rem;
}

h5 {
    color: #463F3A;
    margin : auto 0;
    font-size: 1.2rem
}

.birdy {
    width: 100px;
    height: 100px;
    margin-top: 2.5rem ;
    border-radius: 50%;
}

.container{
    border: 0.35rem solid #8A817C;
    width: 100%;
    border-radius: 10px;
    background-color: #F4F3EE;
}

.ontop{
    width: 90%;
    height: auto;
    margin: 20px auto 10px auto ;
    background-color: #F4F3EE;
    border: 0.25rem solid #E0AFA0;
    border-radius: 10px;
    cursor: pointer;
    justify-content: start;
}

.ontop:hover{
    background-color: #E0AFA0;
    border: 0.25rem solid #F4F3EE;
}

.meal-type{
    color: #8A817C;
    text-shadow: 0px 0px 0px black;
}

.top-bar{
    position: relative;
    display: flex;
}

.thumbnail{
    width: 75px;
    height: 75px;
    margin: 10px;
    border: 0.25rem solid #8A817C;
    border-radius: 10px;
}

.ontop:hover .thumbnail{
    border: 0.25rem solid #F4F3EE;
}

.thumbnail-name{
    color: #463F3A;
}

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 0.25rem solid #8A817C;
    border-radius: 10px;
}

.meal-info{
    border-bottom: 0.25rem solid #8A817C;
    display: block;
}

.header {
    position: absolute;
    top: 50%;
    width: 80%;
    margin-left: 70px;
}

.go-back{
    position: absolute;
    top: 10px;
    margin-left: 92%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
    color:#F4F3EE;
    font-weight: bold;
    background-color: #E0AFA0;
    box-shadow: 0px 0px 0px black;
    cursor: pointer;
}

.ingredients {

    padding-left: 1rem;
    padding-right: 1rem;
}

ul {
    width: 100%;
}

ul, ol {
    color: #8A817C;
}

.ingredient, .instruction, .notes {
    margin-bottom: 1.5rem;
    text-align: start;
}

.instructions{
    padding-left: 10px;
    padding-right: 10px;
}

.notes {
    list-style-type: circle;
    width: 90%;
    margin-left: 1.5rem;
    margin-top: 0;
}

.note-name {
    margin-top: 0.5rem;
    text-decoration: underline;
}

.vege{
    width: 100%;
    color: #463F3A;
}

.handy-box{
    background-color: #F4F3EE;
    padding: 15px;
    border: 2px solid #E0AFA0;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    margin-top: 5.5em;
}

.handy-box:hover {
    background-color: #E0AFA0;
    border: 2px solid #F4F3EE;
    border-radius: 5px;
}

.handy-box-title{
    color: #E0AFA0;
}

.handy-box:hover .handy-box-title{
    color: #F4F3EE;
}

@media (min-width: 880px) {
    ul{
        width: 200px;
    }
    .meal-info{
        display: flex;
    }
    .ingredients{
        border-right: 0.25rem solid #8A817C;
    }
    .main-section{
        display: flex;
        flex-direction: row;
    }
    .middle-section{
        order:2;
        width: 85%;
        margin: 0 auto;
    }
    .hacks-box-right, .hacks-box-left{
        width:25%;
        min-height: 200px;
    }
    .hacks-box-left{
        order: 1;
        margin-left: 2%;
    }
    .hacks-box-right{
        order: 3;
        margin-right: 2%;
    }
}

.hidden{
    display: none;
}